.link {
  display: flex;
  gap: 16px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  flex-wrap: wrap;

  &__long {
    width: 60%;
  }
  &__short {
    color: lightseagreen;
  }
}
